.input {
	--placeholder-color: hsl(186, 11%, 64%);
	--border-color: var(--color-white);

	appearance: none;
	border: none;
	background: none;
	padding: 0 14px 16px;
	font-size: inherit;
	font-family: inherit;
	font-weight: 600;
	letter-spacing: -0.12px;
	color: var(--color-white);
	border-bottom: 1px solid var(--border-color);
	transition: border-color var(--transition-duration);
	outline: none;
  width: 100%;

	&::placeholder {
		color: var(--placeholder-color);
	}

	&:focus,
	&:active {
		--border-color: var(--color-secondary);
	}

	&.invalid {
		--placeholder-color: hsl(358, 22%, 47%);
		--border-color: var(--color-error);
	}

	&.textarea {
		min-height: 84px;
		resize: none;
	}
}
