$xs-max: 479px;
$sm-max: 649px;
$md-max: 767px;
$lg-max: 991px;
$xl-max: 1279px;
$xxl-max: 1439px;

$xs-min: $xs-max + 1;
$sm-min: $sm-max + 1;
$md-min: $md-max + 1;
$lg-min: $lg-max + 1;
$xl-min: $xl-max + 1;
$xxl-min: $xxl-max + 1;
$illustrations-breakpoint: 1500px;
