@use '/styles/variables/breakpoints.module' as *;

.footer {
	padding: 64px 0;
	background-color: var(--color-dark-green);

	@media screen and (min-width: $sm-min) {
		padding: 56px 0;
	}

	@media screen and (min-width: $lg-min) {
		padding: 48px 0;
	}
}

.wrapper {
	display: grid;
	gap: 32px;
	text-align: center;

	@media screen and (min-width: $sm-min) {
		text-align: left;
		grid-template-columns: repeat(2, 1fr);
	}

	@media screen and (min-width: $lg-min) {
		grid-template-columns: auto 1fr auto;
		gap: 125px;
	}
}

.footerLeft,
.footerRight {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.footerLeft {
	gap: 24px;
	@media screen and (min-width: $sm-min) {
		align-items: flex-start;
	}
}

.footerRight {
	gap: 16px;

	@media screen and (min-width: $sm-min) {
		flex-direction: row;
		grid-column: 1 / span 2;
	}

	@media screen and (min-width: $lg-min) {
		flex-direction: column;
		align-items: flex-end;
		grid-column: unset;
	}
}

.copyright {
	font-weight: 600;
	color: var(--color-gray);
	font-size: inherit;

	@media screen and (min-width: $sm-min) {
		text-align: right;
	}
}

.navList {
	display: flex;
	align-items: center;
	gap: 24px;

	@media screen and (min-width: $lg-min) {
		gap: 40px;
	}
}

.address {
	font-style: normal;
	color: var(--color-gray);
	font-weight: 600;
	@media screen and (min-width: $sm-min) {
		text-align: right;
	}

	@media screen and (min-width: $lg-min) {
		text-align: left;
	}
}
