.errorMessage {
	display: block;
	font-style: italic;
	font-weight: 700;
	line-height: 1.3;
	color: var(--color-error);

	&.small {
		font-size: 10px;
	}

  &.medium {
    font-size: var(--text-font-size-type-2);
    line-height: var(--text-line-height-type-2);
  }
}
